.sidebar {
  height: 500px;
  //min-height: 90%;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.16);
  //margin-bottom: -101%;
  //padding-bottom: 50%;
}


.ant-menu {
  .folder-add {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }
}
