.layout-background {
  background: #F8F8FF;
}

.toolbar {
  width: 100%;
  height: 60px;
  padding: 0;
  background: #ffffff;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.16);
}

//
//.content {
//  background: #fff;
//}
//
//.content-title {
//  font-size: 20px;
//  color: #4a4747;
//}
//
//
//.container {
//  padding: 20px 60px;
//}
//
//.header {
//  display: flex;
//  justify-content: flex-end;
//  align-items: center;
//  margin-bottom: 10px;
//}
//
//.title {
//  margin-right: auto;
//}
//
//.action {
//  padding-left: 20px;
//}
